.u-clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.u-uppercase {
  text-transform: uppercase;
}
.u-screen-reader-text {
  position: absolute;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
}
